%h1 All Facilities

.table-responsive
  %table.table
    %tr
      %th Name
      %th Washers
      %th Driers
      %th Operations

    - @facilities.each do |facility|
      %tr
        %td= link_to facility.name, facility
        %td= facility.washers
        %td= facility.driers
        %td
          .btn-group
            = link_to 'Show', facility, class: "btn btn-default"
            = link_to 'Edit', edit_facility_path(facility), class: "btn btn-default"
            = link_to 'Destroy', facility, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default"

%br

= link_to 'New Facility', new_facility_path, class: "btn btn-primary"
