%h1.text-center All Facilities

.row
  .col-md-3
    -# List all of the facilities
    %ul.nav.nav-stacked.nav-pills
      - @facilities.each do |facility|
        %li= link_to facility.name, facility_path(facility)
      %li
        %a{href: new_facility_path}
          %span.glyphicon.glyphicon-plus
          New Facility
  .col-md-9
    - @facilities.each do |facility|
      .panel.panel-default{:"facility-id" => facility.id}
        %div.panel-heading
          = link_to facility.name, facility_path(facility)
          - status = facility.status
          - if status == :full
            .label.label-danger Full
          - elsif status == :almost_full
            .label.label-warning Almost Full
          - else
            .label.label-success Open
        .panel-body
          .panel.panel-default
            .panel-body
              .row
                .col-md-4
                  %div.facility-graph{:"facility-id" => facility.id}
                .col-md-8
                  .row
                    .col-md-12
                      Washers in use: 
                      = facility.last_submission.washers.to_s + "%"
                      of
                      = facility.washers
                  .row
                    .col-md-12
                      Driers in use:
                      = facility.last_submission.driers.to_s + '%'
                      of
                      = facility.driers
                  .row
                    .col-md-12
                      Reported by
                      = render 'shared/username', user: facility.last_submission.user
              .row
                .col-md-12
                  %small{title: facility.last_submission.created_at}
                    = time_ago_in_words(facility.last_submission.created_at)
                    ago
          .row
            .col-md-12
              .btn-group
                - if can? :create, Submission
                  = link_to 'New Submission',
                            new_facility_submission_path(facility),
                            class: "btn btn-default"
                - if can? :read, Submission
                  = link_to 'All Submissions',
                            facility_submissions_path(facility),
                            class: "btn btn-default"
