%h1= @facility.name

%p#notice= notice

.row
  %b.col-md-1.text-right Name:
  %div.col-md-11= @facility.name
.row
  %b.col-md-1.text-right Washers:
  %div.col-md-11= @facility.washers
.row
  %b.col-md-1.text-right Driers:
  %div.col-md-11= @facility.driers

%br

.btn-group
  = link_to 'Edit', edit_facility_path(@facility), class: "btn btn-default"
  = link_to 'Show All', facilities_path, class: "btn btn-default"
