<h1>Facility <%= @facility.name %></h1>

<p>
Washers: <%= @facility.washers %>
</p>

<p>
Driers: <%= @facility.driers %>
</p>

<h2>Last Report</h2>
<% @submission = @facility.submissions.last %>
<p>
  Washers Available:
  <%= @submission.washers.to_s + '%' %>
</p>

<p>
  Driers Available:
  <%= @submission.driers.to_s + '%' %>
</p>

<p>
  Time Submitted:
  <%= @submission.created_at.strftime "%Y-%m-%d %l:%M%P" %>
</p>


<%= link_to 'New Submission', new_facility_submission_url(@facility) %>
  <br>
<%= link_to 'All Facilities', facilities_url %>
