%h1.text-center= @facility.name

.row
  .col-md-6
    .facility-graph.draw-xaxis.draw-yaxis{:"facility-id"=>@facility.id}
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          %b.col-md-4.text-right Name:
          .col-md-8= @facility.name
        = render "submissions/status_summary",
                 submission: @facility.last_submission
        .row
          .col-md-12
            .btn-group
              - if can? :create, Submission
                = link_to "New Submission",
                          new_facility_submission_path(@facility),
                          class: "btn btn-primary"
              - if can? :read, Submission
                = link_to "Show Submissions",
                          facility_submissions_path(@facility),
                          class: "btn btn-default"

.btn-group
  - if can? :update, @facility
    = link_to 'Edit', edit_facility_path(@facility), class: "btn btn-default"
  - if can? :destroy, @facility
    = link_to 'Destroy', facility_path(@facility),
      :method => :delete,
      :data => { :confirm => 'Are you sure?' },
      class: "btn btn-default"
  - if can? :read, Facility
    = link_to 'Show All', facilities_path, class: "btn btn-default"
