= form_for @submission do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :washers
    = f.number_field :washers
  .field
    = f.label :driers
    = f.number_field :driers
  .field
    = f.label :facility
    = f.text_field :facility
  .actions
    = f.submit 'Save'
