%h1
  Listing Submissions for 
  = @facility.name

.table-responsive
  %table.table
    %tr
      %th Washers
      %th Driers
      %th Facility
      %th Operations

    - @submissions.each do |submission|
      %tr
        %td= submission.washers
        %td= submission.driers
        - if submission.facility
          %td= submission.facility.name
        - else
          %td No Facility
        %td
          .btn-group
            = link_to 'Show', facility_submission_path(@facility, submission), class: "btn btn-default"
            = link_to 'Edit', edit_facility_submission_path(@facility, submission), class: "btn btn-default"
            = link_to 'Destroy', facility_submission_path(@facility, submission),
                :method => :delete,
                :data => { :confirm => 'Are you sure?' },
                class: "btn btn-default"

%br

= link_to 'New Submission', new_facility_submission_path(@facility), class: "btn btn-primary"
