%h1 
  Submission for 
  - if @submission.facility
    = @submission.facility.name
  - else
    = "No Facility"

%p#notice= notice

.row
  %b.col-md-1.text-right Washers:
  %div.col-md-11= @submission.washers
.row
  %b.col-md-1.text-right Driers:
  %div.col-md-11= @submission.driers
.row
  %b.col-md-1.text-right Facility:
  %div.col-md-11= @submission.facility.name

%br

.btn-group
  = link_to 'Edit', edit_submission_path(@submission), class: "btn btn-default"
  = link_to 'Back', submissions_path, class: "btn btn-default"
