%h1 
  Submission for 
  - if @submission.facility
    = @submission.facility.name
  - else
    = "No Facility"

%p#notice= notice

.row
  %b.col-md-1.text-right Washers:
  %div.col-md-11= @submission.washers
.row
  %b.col-md-1.text-right Driers:
  %div.col-md-11= @submission.driers
.row
  %b.col-md-1.text-right Facility:
  - if @submission.facility
    %div.col-md-11= @submission.facility.name
  - else
    %div.col-md-11 No Facility

%br

.btn-group
  = link_to 'Edit', edit_facility_submission_path(@facility, @submission), class: "btn btn-default"
  = link_to 'Show All', facility_submissions_path(@facility), class: "btn btn-default"
